<template>
  <div> 
    <Header/>
    <TodoList :todos="todos" @deleteItem="deleteItem"/>
    <AddTodoItem @addTodoItem="addTodoItem"/>
  </div>
</template>

<script>
import TodoList from "../components/TodoList";
import Header from "../components/Header.vue";
import AddTodoItem from "../components/AddTodoItem.vue"
import { v4 as uuidv4 } from 'uuid';
import axios from 'axios';

export default {
  name: "Home",
  components:{
    TodoList,
    Header,
    AddTodoItem
  },
  data(){
    return{
      todos: [
        {
          id: uuidv4(),
          title: "Zadanie nr 1",
          completed: false
        },
        {
          id: uuidv4(),
          title: "Zadanie nr 2",
          completed: true
        },
        {
          id: uuidv4(),
          title: "Zadanie nr 3",
          completed: false
        },
      ]
    }
  },
  methods:{
    deleteItem(id){
      
      axios.delete(`http://localhost:1337/todos/${id}`)
      .then(() => this.todos = this.todos.filter(todo => todo.id != id))
      .catch(err => console.log(err));
      this.todos = this.todos.filter(todo => todo.id != id);
    },
    addTodoItem(todoItem){
      const {title, completed} = todoItem;
      axios.post('http://localhost:1337/todos/', {
        title,
        completed
        })
        // .then(result => this.todos.push(result.data))
        .then(result => this.todos= [... this.todos, result.data])
        .catch(err => console.log(err));

    }
  },
  created(){
      axios.get('http://localhost:1337/todos?_limit=10')
      .then(result =>{
        this.todos = result.data
      }).catch(err => console.log(err));
  }
}
</script>

<style>
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
</style>