<template>
  <form @submit.prevent="addTodoItem">
    <input type="text" placeholder="Wpisz nowe zadanie" v-model="title"/>
    <input type="submit" value="Dodaj zadanie" />
  </form>
</template>

<script>

//import { v4 as uuidv4 } from 'uuid';

export default {
  name:"AddTodoItem",
  data(){
    return{
      title: ""
    }
  },
  methods:{
    addTodoItem(){
      const newTodo ={
        //id: uuidv4(),
        title : this.title,
        completed: false
      }
      this.$emit('addTodoItem',newTodo);
      this.title = ""
    }
  }
}
</script>

<style scoped>
  form{
    display: flex;
  }
  input{
    padding: 10px;
  }
  input[type="text"]{
    flex: 10;
  }
    input[type="submit"]{
    flex: 2;
  }
</style>