<template>
 <header>
   <h1>Lista zadań</h1>
 </header>
</template>

<script>
export default {
  name: "Header"
}
</script>

<style scoped>
  header{
    background-color:cadetblue;
    color: white;
    text-align: center;
    padding: 10px;
  }
</style>