<template>
  <div class="todo-item" :class="{'is-completed': todo.completed}">
    <p >
    <input type="checkbox" @change="markAsCompleted">
     {{index+1}}. {{todo.title}}
      <button class="del" @click="$emit('deleteItem', todo.id)">x</button>
    </p>
  </div>
</template>

<script>
export default {
  name: "TodoItem",
  props:[
    "todo",
    "index"
  ],
  methods:{
    markAsCompleted(){
      this.todo.completed = !this.todo.completed;
    }

  }

}
</script>

<style>
  .todo-item{
    background-color: mediumturquoise;
    padding: 10px;
    border-bottom: 1px dotted black;
  }
  .is-completed{
    text-decoration: line-through;
  }
  .del{
    background-color:dodgerblue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
  }
</style>