<template>
  <div>
    <div v-for="(todo, index) in todos" :key="todo.id">
      <TodoItem :todo="todo" :index="index" @deleteItem="$emit('deleteItem', todo.id)"/>
    </div>
  </div>
</template>

<script>
import TodoItem from "./TodoItem.vue";

export default {
  name: "TodoList",
  components:{
    TodoItem
  },
  props:[
    "todos"
  ], 
}
</script>

<style>

</style>